<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body >
  
</body>
<div class="hero">

    <h1>Lost & Found Hub 🔍</h1>

    <p id="typing"></p>

    <div class="features">
        <div class="box">📦 Report Lost Items</div>
        <div class="box">🎯 Find Found Items</div>
        <div class="box">⚡ Fast Recovery</div>
        <div class="box">🔒 Secure System</div>
    </div>

    <div class="buttons">
        <a href="/login"><button>Login</button></a>
        <a href="/signup"><button>Signup</button></a>
    </div>

</div>

<script>
let text = "Find lost items. Report found items. Connect instantly.";
let i = 0;

function typeEffect() {
    if (i < text.length) {
        document.getElementById("typing").innerHTML += text.charAt(i);
        i++;
        setTimeout(typeEffect, 40);
    }
}
typeEffect();
</script>

</body>
</html>