<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<style>
body{background:#0f172a;color:white;display:flex;justify-content:center;align-items:center;height:100vh;font-family:Poppins;}
.box{background:#111827;padding:30px;border-radius:12px;width:300px;}
input{width:100%;padding:10px;margin:10px 0;border:none;border-radius:8px;}
button{width:100%;padding:10px;background:#2563eb;color:white;border:none;border-radius:8px;}
</style>
</head>
<body>
<div class="box">
<h2>Login</h2>
<input placeholder="Email">
<input placeholder="Password" type="password">
<button onclick="location.href='dashboard.html'">Login</button>
</div>
</body>
</html>
