<body class="center-page"></body>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h2>Upload Item</h2>

<form method="POST" enctype="multipart/form-data">

<input name="name" placeholder="Item Name">

<select name="type">
<option>Lost</option>
<option>Found</option>
</select>

<textarea name="description" placeholder="Description"></textarea>
<input name="contact" placeholder="Contact">
<input name="location" placeholder="Location">

<input type="file" name="image">

<button>Submit</button>

</form>